In [5]:
import numpy as np
import pandas as pd

In [6]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
index = ['red', 'blue', 'yellow', 'white'],
columns = ['ball', 'pen', 'pencil', 'paper'])

In [7]:
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [8]:
frame.to_csv('cho5_7.csv')

In [9]:
frame.to_csv('ch05_07b.csv', index=False, header=False)

In [10]:
frame3 = pd.DataFrame([[6,np.nan,np.nan,6,np.nan],
... [np.nan,np.nan,np.nan,np.nan,np.nan],
... [np.nan,np.nan,np.nan,np.nan,np.nan],
... [20,np.nan,np.nan,20.0,np.nan],
... [19,np.nan,np.nan,19.0,np.nan]
... ],
... index=['blue','green','red','white','yellow'],
columns=['ball','mug','paper','pen','pencil'])

In [11]:
frame3

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN

In [12]:
frame3.to_csv('ch05_08.csv')

In [13]:
frame3.to_csv('ch05_09.csv', na_rep ='NaN')

In [14]:
#writing data in html
frame = pd.DataFrame(np.arange(4).reshape(2,2))

In [15]:
print(frame.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
    </tr>
  </tbody>
</table>

In [16]:
frame = pd.DataFrame( np.random.random((4,4)),index = ['white','black','red','blue'],
columns = ['up','down','right','left'])

In [17]:
frame

             up      down     right      left
white  0.268974  0.015991  0.648801  0.235873
black  0.143487  0.432833  0.665579  0.773438
red    0.886542  0.905996  0.602270  0.009428
blue   0.077048  0.073587  0.304891  0.701110

In [18]:
s = ['<HTML>']
s.append('<HEAD><TITLE>My DataFrame</TITLE></HEAD>')
s.append('<BODY>')
s.append(frame.to_html())
s.append('</BODY></HTML>')
html = ".join(s)"

In [19]:
html_file = open('myFrame.html','w')
html_file.write(html)
html_file.close()

In [20]:
web_frames = pd.read_html('myFrame.html')

ValueError: No tables found

In [ ]:
ranking = pd.read_html('https://www.meccanismocomplesso.org/en/meccanismo-complesso-sito-2/classifica-punteggio/')

In [ ]:
from lxml import objectify

In [21]:
xml = objectify.parse('books.xml')

NameError: name 'objectify' is not defined

In [22]:
xml

NameError: name 'xml' is not defined

In [23]:
root = xml.getroot()

NameError: name 'xml' is not defined

In [24]:
root.Book.Author

NameError: name 'root' is not defined

In [25]:
root.Book.PublishDate

NameError: name 'root' is not defined

In [26]:
root.getchildren()

NameError: name 'root' is not defined

In [27]:
[child.tag for child in root.Book.getchildren()]

NameError: name 'root' is not defined

In [28]:
[child.text for child in root.Book.getchildren()]

NameError: name 'root' is not defined

In [29]:
def etree2df(root):
... column_names = []
... for i in range(0,len(root.getchildren()[0].getchildren())):
... column_names.append(root.getchildren()[0].getchildren()[i].tag)
... xml:frame = pd.DataFrame(columns=column_names)
... for j in range(0, len(root.getchildren())):
... obj = root.getchildren()[j].getchildren()
... texts = []
... for k in range(0, len(column_names)):
... texts.append(obj[k].text)
... row = dict(zip(column_names, texts))
... row_s = pd.Series(row)
... row_s.name = j
... xml:frame = xml:frame.append(row_s)
... return xml:frame
...
>>> etree2df(root)

IndentationError: expected an indented block (<ipython-input-29-7da30d192ef4>, line 2)

In [30]:
pd.read_excel(r'C:\Users\hassan\Documents\prodcut\excel_data.xlsx')

  Unnamed: 0  white  red  green  black
0          a     12   23     17    NaN
1          b     22   16     19   18.0
2          c     14   23     22   21.0

In [31]:
pd.read_excel(r'C:\Users\hassan\Documents\prodcut\excel_data.xlsx',1)

  Unnamed: 0  yellow  purple  blue  orange
0          A      11      16    44      22
1          B      20      22    23      44
2          C      30      31    37      32

In [32]:
pd.read_excel(r'C:\Users\hassan\Documents\prodcut\excel_data.xlsx','sheet2')

ValueError: Worksheet named 'sheet2' not found

In [ ]:
frame = pd.DataFrame(np.random.random((4,4)),
... index = ['exp1','exp2','exp3','exp4'],
... columns = ['Jan2015','Fab2015','Mar2015','Apr2005'])

In [ ]:
frame

In [ ]:
frame.to_excel('data2.xlsx')

In [33]:
#JSON Data(JavaScript Object Notation)

In [34]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
... index=['white','black','red','blue'],
... columns=['up','down','right','left'])
>>> frame.to_json('frame.json')

In [41]:
pd.read_json('frame.json')

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [42]:
from pandas.io.json import json_normalize

In [43]:
import json

In [44]:
file=open('books.json','r')

In [45]:
text = file.read()

In [46]:
text = json.loads(text)

In [47]:
json_normalize(text,'books')

<ipython-input-47-69c167e6079f>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(text,'books')

                 title  price
0         XML Cookbook  23.56
1  Python Fundamentals  50.70
2    The NumPy library  12.30
3      Java Enterprise  28.60
4                HTML5  31.35
5   Python for Dummies  28.00

In [48]:
filename = 'books.json'

In [49]:
with open (filename) as f:
    books = json.load(f)
    print(books)

[{'writer': 'Mark Ross', 'nationality': 'USA', 'books': [{'title': 'XML Cookbook', 'price': 23.56}, {'title': 'Python Fundamentals', 'price': 50.7}, {'title': 'The NumPy library', 'price': 12.3}]}, {'writer': 'Barbara Bracket', 'nationality': 'UK', 'books': [{'title': 'Java Enterprise', 'price': 28.6}, {'title': 'HTML5', 'price': 31.35}, {'title': 'Python for Dummies', 'price': 28.0}]}]

In [50]:
json_normalize(text,'books',['nationality','writer'])

<ipython-input-50-d7dc1f100c74>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(text,'books',['nationality','writer'])

                 title  price nationality           writer
0         XML Cookbook  23.56         USA        Mark Ross
1  Python Fundamentals  50.70         USA        Mark Ross
2    The NumPy library  12.30         USA        Mark Ross
3      Java Enterprise  28.60          UK  Barbara Bracket
4                HTML5  31.35          UK  Barbara Bracket
5   Python for Dummies  28.00          UK  Barbara Bracket

In [51]:
#the format HDF5
from pandas.io.pytables import HDFStore

In [52]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
... index=['white','black','red','blue'],
... columns=['up','down','right','left'])

In [53]:
store = HDFStore('mydata.h5')
store['obj1'] = frame

HDF5ExtError: HDF5 error back trace

  File "C:\ci\hdf5_1545244154871\work\src\H5F.c", line 509, in H5Fopen
    unable to open file
  File "C:\ci\hdf5_1545244154871\work\src\H5Fint.c", line 1400, in H5F__open
    unable to open file
  File "C:\ci\hdf5_1545244154871\work\src\H5Fint.c", line 1700, in H5F_open
    unable to read superblock
  File "C:\ci\hdf5_1545244154871\work\src\H5Fsuper.c", line 623, in H5F__super_read
    truncated file: eof = 96, sblock->base_addr = 0, stored_eof = 2048

End of HDF5 error back trace

Unable to open/create file 'mydata.h5'

In [ ]:
frame

In [ ]:
store['obj2']= frame

In [ ]:
store

In [ ]:
store['obj2']

In [54]:
import pickle

In [55]:
data = { 'color': ['white','red'], 'value': [5, 7]}

In [56]:
pickled_data = pickle.dumps(data)

In [57]:
print(pickled_data)

b'\x80\x04\x95/\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x05color\x94]\x94(\x8c\x05white\x94\x8c\x03red\x94e\x8c\x05value\x94]\x94(K\x05K\x07eu.'

In [58]:
nframe = pickle.loads(pickled_data)
frame

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [59]:
frame = pd.DataFrame( np.arange(20).reshape(4,5),
columns=['white','red','blue','black','green'])
frame

   white  red  blue  black  green
0      0    1     2      3      4
1      5    6     7      8      9
2     10   11    12     13     14
3     15   16    17     18     19

In [60]:
from sqlalchemy import create_engine

In [61]:
engine = create_engine('sqlite:///foo.db')

In [62]:
frame.to_sql('colors',engine)

ValueError: Table 'colors' already exists.

In [ ]:
pd.read_sql('colors',engine)

In [ ]:
pip install psycorg2

In [ ]:
engine = create_engine('postgresql://postgres:password@localhost:5432/
postgres')